.decx {
    font-size: large;
    margin: 150px;
    background-color: white;
    border-radius: 20px;
}

.conx {
    border-radius: 10px;
    border-color: white;
}

.btnConx {
    width: 150px;
    height: 30px;
    font-size: 20px;
}

.bar {
    width: 250px;
    height: 20px;
    font-size: 20px;
}