.menuD {
    height: 40px;
    width: 300px;
    text-align: center;
    font-size: large;
    border-radius: 10px;
    border: none;
    margin: 20px;
}

.btnCommencer {
    height: 43px;
    width: 100px;
    border-radius: 10px;
    border-color: white;
    font-size: 13px;
    font-weight: bold;
    border: none;
}